<div class="alert alert-secondary text-center h-600" >
    <button type="button" class="btn btn-circle m-3 text-white" (click)="buttonSelect(randomNum[0])">
    {{randomNum[0]}}
    </button>

    <button type="button" class="btn btn-circle m-3 text-white" (click)="buttonSelect(randomNum[1])">
    {{randomNum[1]}}
    </button>

    <button type="button" class="btn btn-circle m-3 text-white" (click)="buttonSelect(randomNum[2])">
    {{randomNum[2]}}
    </button>

    <button type="button" class="btn btn-circle m-3 text-white" (click)="buttonSelect(randomNum[3])">
    {{randomNum[3]}}
    </button>

    <button type="button" class="btn btn-circle m-3 text-white" (click)="buttonSelect(randomNum[4])">
    {{randomNum[4]}}
    </button>

    <button type="button" class="btn btn-circle m-3 text-white" (click)="buttonSelect(randomNum[5])">
    {{randomNum[5]}}
    </button>

</div>
<hr>

<h1 class="text-center">You have selected</h1>

<div class="container col-md-4 offset-4">
      <div class="card card-block" style="height: 100px">
        <div class="card-body align-items-center d-flex justify-content-center">
            
            <h1 style="font-size: 50px;">{{selected}}</h1>
        </div>
      </div>
  </div>

